/* Header style */
.card{
    background-image: url("../img/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:840px;
    max-width: 100%;
}
.content{
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
}
#paragraph{
    font-size: 11.5px;
}
/* Body section style */
.content1{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
.content1 p{
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}
/* Services column style */
.card1 {
    background-image: url("../img/s_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
}
.content2{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: white;
    padding-top: 80px;
}
.content2 p{
    font-size: 18px;
}
/* What we do row style */
h3{
    text-align: center;
}
#icon1{
    margin-left: 250px;
}
#icon2{
    margin-left: 200px;
}
#icon3{
    margin-left: 250px;
}
.p1, .p2, .p3 {
    display: none;
    text-align: center;
}
/* Portfolio column style */
.content3{
    padding-left: 100px;
    padding-right: 100px;
    margin-right: 350px;
    margin-left: 200px;
}
.project1, .project2, .project3, .project4, .project5, .project6, .project7, .project8{
    position: absolute;
    transform: translate(60%, -60%);
    top: 70%;
    text-align: center;
    width: 90px;
    height: 90px;
    color: black;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-style: italic; 
} 
  /*Contact row style  */
.card2{
    background-image: url("../img/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
}
.content4{
    padding-left: 300px;
    padding-right: 300px;
    padding-top:50px; 
}
.content4 h2{
    text-align: center;
    color: white;
} 
.form-control{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0px;
}
input::-webkit-input-placeholder {
    color: white !important;
}
textarea::-webkit-input-placeholder {
    color: white !important;
}
.btn{
    margin-left: 60px;
}
/* social icon style */
.content5{
    text-align: center;
    font-size: 30px;
}
/* footer style */
.footer{
    text-align: center;
    font-size: 10px;
}

 
  

  